@charset "UTF-8";
/* CSS Document */
img, embed, object, video {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; }
/* This selects the body tag*/
body
{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: #2B2B2B;
  color: #fff;
}
body::before{
position: absolute;
content: "";
background-image: url("../images/b-path.png");
    height: 500px;
     width: 500px;
     bottom: 0px;
     right: 0px;
     z-index: -1;
}
.hidden {
  display: none;
}
.container{
  margin-left: 20px;
  margin-right: 20px;
}

#mainNav{
  background-color: #010101;
  height: 100px;
  text-align: left;
  
}

#logoCon{
   padding-top: 35px;
   padding-left:20px

  }
h2{
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
#mainNav ul {
  display: none; }

#mainNav ul.slideToggle {
  display: block;
  position: relative;
  background-color: #010101;
  margin-top: 34px;
  height: 100vh;
 }
#dt ul.displaysubmenu{
  /* display:block; */
  display: grid;
  grid-template-columns: 110px 110px 110px;
  justify-content: center;
  
}
/* #burgerMenu li.expanded2{
  border-bottom: 5px solid red;
} */
.expanded2 .unique{
  border-bottom:5px solid cornflowerblue;
  width: 120px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;

}

.card{
  text-align: center;
  /* padding: 20px; */
  margin-top: 30px;
}
.card p{
  margin-top: 30px;
}
/* .card:hover{
  background-color: blueviolet;
} */
/* .innerbox{
  background-color: #010101;
  padding: 10px;
  border-radius: 10px;
} */

#mainNav button {
  position: absolute;
  top: 35px;
  right: 20px;
  background: url(../images/bars.svg) center no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  transition: all 400ms ease;
  cursor: pointer;
}
#mainNav button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg); }

#mainNav a {
  display: block;
  color: #fff;
  padding: 40px 0 60px 0;
  text-align: center;
  text-decoration: none;
  } 

#tips{
  margin-top: 26px;
  margin-bottom: 20px;
}
h4{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
#tips p{
font-size: 16px;
line-height: 1.5;
font-weight: normal;
}
.button-peek
{ margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  height: 70px;
  padding: 10px;
  border-radius: 25px;
  background-color:#6C63FF;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  border-color: transparent;
  display: flex;
}
.button-peek .eye{
  display: none;
}
.button-peek img{
  width: 15%;
  margin:10px;
}
.button-peek p{
  font-size: 14px;
  padding: 10px;
  color: #fff;
  font-weight: normal;
}
.button-peek:hover{
  background-color:#31A396;
}
.button-peek:hover .eyeclose{
  display: none;
}
.button-peek:hover .eye{
  
  display: inline;
}
.girldesign{
  margin-top: 60px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#prototyping{
margin-top: 40px;
}
#prototyping h2{
  margin-bottom: 10px;
}
#prototyping p{
  font-size: 16px;
  line-height: 1.5;
}
.dashboard-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 70%;
}
.text{
  display: none;
}
.scroll .mouse-d{
display:none;
}
.scroll{
  display: table;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in;
  width: 6%;
 }
 .scroll:hover .mouse-d{
  display:block;
  transition: ease-in;
 
  }
  .scroll:hover .mouse{
    display: none;
    
  }
/* -------------------------------------------------------------------------------------
          720px
------------------------------------------------------------------------------------- */
@media screen and (min-width:720px){

  #dt ul.displaysubmenu {
    grid-template-columns: auto auto auto;
    justify-content: unset;
  }
  
}
/* -------------------------------------------------------------------------------------
          1000px
------------------------------------------------------------------------------------- */
@media screen and (min-width:1000px){
  .container{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
  }

  header {
    display: contents; 
  }
  #mainNav{
    display: flex;
  }
  #button{
    display: none;
  }
  #mainNav ul{
    display: flex;
    text-align: right;
    margin-right: 40px;
  }
 
  #burgerMenu a{
    display:flex;
  }
  #burgerMenu ul{
    display: none;
  }
  #burgerMenu li{
    margin-left: 20px;
    margin-right: 20px;
  }
  #logoCon{
    flex-grow: 1;
  }
  .expanded2 .unique {
    margin-left: unset;
    margin-right: unset;
  }
  #submenu-dt.displaysubmenu {
    height: 0px;
    -webkit-transition:height, 0.5s ease;
    -moz-transition: height, 0.5s ease;
    -ms-transition: height, 0.5s ease;
    -o-transition: height, 0.5s ease;
    transition: height, 0.5s ease;
  }
 
  #dt ul.displaysubmenu{
    background-color: #000;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 25px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-right: 0px;
    height: 400px;
    -webkit-transition:height, 0.5s ease;
    -moz-transition: height, 0.5s ease;
    -ms-transition: height, 0.5s ease;
    -o-transition: height, 0.5s ease;
    transition: height, 0.5s ease;
  }
 
  #submenu-dt li{
    margin-left: 0px;
    margin-right: 0px;
    min-width: 146px;
    height: 0%;
    -webkit-transition:height, 0.2s ease-out;
    -moz-transition: height, 0.2s ease-out;
    -ms-transition: height, 0.2s ease-out;
    -o-transition: height, 0.2s ease-out;
    transition: height, 0.2s ease-out;
  }
  .card p{
    margin-top: 160px;
    font-weight: bold;
    font-size: 20px;
    opacity: 70%;
  }
  .blackbox{
    background-color:black;
    padding: 20px;
    border-radius: 5px;
  }
  
  #tab1:hover{
   background-color:#9862CE;
   height: 100%;
   -webkit-transition:height, 0.2s ease-in;
   -moz-transition: height, 0.2s ease-in;
   -ms-transition: height, 0.2s ease-in;
   -o-transition: height, 0.2s ease-in;
   transition: height, 0.2s ease-in;
  }
 
  #tab1:hover .card p{
    margin-top :30px;
    opacity: 100%;

  }
  #tab1:hover .text{
    display: inline-block;
    max-width: 146px;
    padding-top: 40px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 16px;
  } 
  
  #tab2:hover{
    background-color: #629CCE;
    height: 100%;
    -webkit-transition:height, 0.2s ease-in;
   -moz-transition: height, 0.2s ease-in;
   -ms-transition: height, 0.2s ease-in;
   -o-transition: height, 0.2s ease-in;
   transition: height, 0.2s ease-in;
  }
  #tab2:hover .card p{
    margin-top :30px;
    opacity: 100%;
  }
  #tab2:hover .text{
    display: inline-block;
    max-width: 146px;
    padding-top: 40px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 16px;
  } 
  #tab3:hover{
    background-color: #626ECE;
    height: 100%;
    -webkit-transition:height, 0.2s ease-in;
    -moz-transition: height, 0.2s ease-in;
    -ms-transition: height, 0.2s ease-in;
    -o-transition: height, 0.2s ease-in;
    transition: height, 0.2s ease-in;
  }
  #tab3:hover .card p{
    margin-top :30px;
    opacity: 100%;
  }
  #tab3:hover .text{
    display: inline-block;
    max-width: 146px;
    padding-top: 40px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 16px;
  } 
  #tab4:hover{
    background-color: #CE6262;
    height: 100%;
    -webkit-transition:height, 0.2s ease-in;
    -moz-transition: height, 0.2s ease-in;
    -ms-transition: height, 0.2s ease-in;
    -o-transition: height, 0.2s ease-in;
    transition: height, 0.2s ease-in;
  }
  #tab4:hover .card p{
    margin-top :30px;
    opacity: 100%;
  }
  #tab4:hover .text{
    display: inline-block;
    max-width: 146px;
    padding-top: 40px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 16px;
  } 
  #tab5:hover{
    background-color: #ADCE62;
    height: 100%;
    -webkit-transition:height, 0.2s ease-in;
    -moz-transition: height, 0.2s ease-in;
    -ms-transition: height, 0.2s ease-in;
    -o-transition: height, 0.2s ease-in;
    transition: height, 0.2s ease-in;
  }
  #tab5:hover .card p{
    margin-top :30px;
    opacity: 100%;
  }
  #tab5:hover .text{
    display: inline-block;
    max-width: 146px;
    padding-top: 40px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 16px;
  } 
  #tips{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
  }
  #tips h2{
    font-size: 60px;
  }
  #tips h4{
    font-size: 35px;
    grid-column: 1/1;
  }
  #tips p{
    max-width: 400px;
    font-size: 20px;
    grid-column: 1/1;
  }
  .button-peek{
    grid-column: 1/1;
    width: max-content;
    /* margin-top:0px; */
  }
  .girldesign{
    grid-row: 1/4;
    grid-column: 2/2;
    width: auto;
  }
  #prototyping h2{
    font-size: 60px;
    margin-bottom:30px;
  }
  #prototyping p{
    font-size: 20px
  }
}
/* -------------------------------------------------------------------------------------
          1280px
------------------------------------------------------------------------------------- */
@media screen and (min-width:1280px){
 
  #tips h2{
    grid-column: 1/1;
  }
 #tips p{
  grid-row: 3/5;
 }
  .button-peek{
    grid-row: 4/4;
    /* margin-top:-100px; */
  }
  .girldesign{
    grid-column: 2 / -1;
    grid-row: 2/4;
    margin-top: 0px;
  }
}
/* -------------------------------------------------------------------------------------
          1440px
------------------------------------------------------------------------------------- */
@media screen and (min-width:1440px){
  .button-peek{
    margin-top:-100px;
  }
.dashboard-img{
  width: auto;
  margin-left:0px;
}

}